<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Models.Post">

    <resultMap id="result" type="Models.Post">
        <result property="id" column="id"/>
        <result property="body" column="body"/>
        <result property="title" column="title"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <insert id="insert" parameterType="Models.Post">
        INSERT INTO POSTS (BODY, TITLE, USER_ID) VALUES ( #{body}, #{title}, #{userId});
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            select last_insert_id() as id
        </selectKey>
    </insert>

    <delete id="deleteById" parameterType="int">
        DELETE from POSTS WHERE ID = #{id};
    </delete>

    <select id="getAll" resultMap="result">
        SELECT ID, TITLE, BODY, USER_ID FROM POSTS;
    </select>

    <select id="selectById" parameterType="int" resultMap="result">
        SELECT * FROM POSTS WHERE ID = #{id};
    </select>

    <update id="update" parameterType="Models.Post">
        UPDATE Posts SET BODY = #{body}, TITLE = #{title}, USER_ID = #{userId} WHERE ID = #{id};
    </update>
</mapper>