<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <servlet>
    <servlet-name>Servlets.PostServlet</servlet-name>
    <servlet-class>Servlets.PostServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Servlets.CommentServlet</servlet-name>
    <servlet-class>Servlets.CommentServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Servlets.UserServlet</servlet-name>
    <servlet-class>Servlets.UserServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Servlets.PostServlet</servlet-name>
    <url-pattern>/posts</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Servlets.CommentServlet</servlet-name>
    <url-pattern>/comments</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Servlets.UserServlet</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>

</web-app>
